.media-cont {
    padding: var(--space-m);
    max-height: 500px;

    overflow: hidden;
}

.media-bar-item {
    display: inline-block;

    padding: var(--space-m);

    cursor: pointer;
}

.media-text { padding: 0 var(--space-m) var(--space-l) var(--space-m); }

.media-bar-icon { width: 20px; }

.media-bar-icon-value { display: inline; }

.media-button {
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
}

.media-bar-info {
    padding: var(--space-s) var(--space-m);

    color: var(--font-color-l);
}

.media-bar {
    display: inline-block;

    width: 100%;

    background-color: var(--back-color-d);
}

.see-more {
    display: none;

    padding: var(--space-m);

    background-color: var(--theme-color);

    text-align: center;

    cursor: pointer;
}
.see-more:hover { background-color: var(--theme-color-d); }

.sort-bar-input { margin: var(--space-s) var(--space-m); }
